id: zsystem4esl[release] 1.5.0
name: zsystem4esl
architecture: linux-gcc
sources-test-dir: src/main
provide: source static dynamic
static: zsystem
static: esl [1.5.0]

# zsystem4esl[release] 1.5.0
variant: release
